<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    {{ user?.institution?.title | titlecase }}

</mat-toolbar>

<mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="assets/images/anonymous.jpg" />

        <h4 class="name">Hi, {{ user?.name | titlecase }}</h4>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="navigateUrl('home')" >
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" (click)="navigateUrl('student-result')">
            <mat-icon>assignment</mat-icon>
            <span>Student Results</span>
        </button>
        <button mat-button class="menu-button" (click)="navigateUrl('profile')">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button"(click)="navigateUrl('about')">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content >
        <div class="container-dynamic content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>