<p-toast position="top-right" key="success"></p-toast>

<div class="p-fluid grid formgrid">
  <div class="field col-12 md:col-4">
    <span class="p-float-label">
      <p-dropdown
        inputId="id"
        [autoDisplayFirst]="false"
        [options]="subject?.teacher_subjects"
        [(ngModel)]="subject_id"
        optionLabel="name"
        optionValue="id"
      ></p-dropdown>
      <label for="subject">Subject</label>
    </span>
  </div>

  <div class="field col-12 md:col-4">
    <span class="p-float-label">
      <p-dropdown
        inputId="id"
        [autoDisplayFirst]="false"
        [options]="grade?.class"
        [(ngModel)]="class_id"
        optionLabel="name"
        optionValue="id"
        (onChange)="registeredStudent()"
      ></p-dropdown>
      <label for="class">Class</label>
    </span>
  </div>

  <div class="field col-12 md:col-4">
    <button
      pButton
      #submit
      type="button"
      label="Submit"
      icon="pi pi-save"
      iconPos="left"
      (click)="submitResult()"
      class="p-button"
      style="float: right"
      disabled
    ></button>
  </div>
</div>
