
<p-card>
  <div class="content">
    <h2>SkongaWeb.com</h2>
    <p>
      Welcome to SkongaWeb, the platform for managing schools operation designed to support schools at all levels in 
      Tanzania. The system features includes:
    </p>
    
    <ul>
      <li>Student Registration </li>
      <li>Student Academic Performance </li>
      <li>Student Fees Payment Management </li>
      <li>Parent's Feedback </li>
      <li>Notice Board </li>
    </ul>
    <p>
      The system has been designed to accomodate requirements of Tanzania Primary and Secondary schools education system.
    </p>
    <h3> For more Information regarding the system please contact through info@skongaweb.com</h3> 
  </div>  
</p-card>

