:host ::ng-deep {
  .p-card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: large;
    background: #1a6388;
    color: antiquewhite;
  }

  @media only screen and (min-width: 700px) {
    /* css rules */
    .p-card {
      min-width: 40rem;
    }
  } 
}

.copyright {
  color: #1a6388;
  padding-top: 2rem;
}
