/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  width: 100vh;
}

.grid {
  display: flex;
}

.custom-fluid {
  flex-grow: 1;
}
